<html>
<head>
  <title><%= attributes.componentName %></title>
  <link rel="stylesheet" href="./<%= attributes.componentName %>.css"/>
  <style>
    <%- attributes.style %>
  </style>
</head>
<body>

  <h1><%= attributes.componentName %> Spec</h1>

  <%- body %>
</body>
</html>
